<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6A3B71DC6A7690888910A3225FFFF6ACC017098A</string>
				<key>dateExpires</key>
				<string>3/6/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A3B71DC6A7690888910A3225FFFF6ACC017098A</string>
						<key>dateExpires</key>
						<string>3/6/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24MFDW278S</string>
						<key>name</key>
						<string>MVP Application and Game Design L.L.C</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A3B71DC6A7690888910A3225FFFF6ACC017098A</string>
						<key>dateExpires</key>
						<string>3/6/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24MFDW278S</string>
						<key>name</key>
						<string>MVP Application and Game Design L.L.C</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>24MFDW278S.com.mvpapps.parkit</string>
				<key>com.apple.developer.team-identifier</key>
				<string>24MFDW278S</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>24MFDW278S.com.mvpapps.parkit</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1503093b-56fc-4f55-a4d7-c4b4f663a093</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>24MFDW278S</string>
				<key>name</key>
				<string>MVP Application and Game Design L.L.C</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
